/* ********* */
/* @PERFIL */
/* ********* */

.bodyPerfil{
    height: auto;
    padding: 30px    0%;
    box-sizing: border-box  ;
}

.containerPerfil{
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPerfil{
    margin: 0;
}

.tarjetaDatosActuales{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    height: auto;
    box-sizing: border-box;
    padding: 10%;
    width: 80%;
    margin-top: 20px;
}

.tarjetaDatosActuales > p{
    color: $color_fondo;
     font-family: "lustria";
}

.tarjetaCambiarDatos{
    margin-top: 30px;
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 30px;
    background-color: white;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    
}

.tituloDatosActuales{
    color: $color_fondo;
    margin-bottom: 10px;
}

.inputTarjetaCambiarDatos{
    text-align: center;
}

.inputTarjetaCambiarDatos > label{
    margin-left: 12px;
    
    color: $color_fondo;
}

.inputTarjetaCambiarDatos>input{
    margin-top: 5px;
    width: 70%;
}

.menuPerfilDesplegable{
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px){
    
   .containerPerfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
    
   }

   

   .tarjetaCambiarDatos{
    height: 100%;
    margin: 0;
   }

   .tarjetaDatosActuales{
    margin: 0;
    padding: 0;
    height: 60%;
    
   }

   .error{
    color: red;
   }
}
