/* ********* */
/* @REGISTRO */
/* ********* */

.containerRegistro{
    background-color: $color_fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20% 5%;
    height: 100vh;
    color: $color_texto;
    
}

input{
height: 60px;
border-radius: 30px;
background-color: #D7D9EE;
border: none;
outline: none;
color: $color_fondo;
padding: 0 25px;
font-size: 18px;
font-family: "lustria";
width: 80%;

}

input::placeholder{
    color: $color_fondo;
    font-size: 18px;
    font-family: "lustria";
}

.inputsRegistro{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 12px;
}

.inputMini{
    width: 95%;
    box-sizing: border-box;
}

.botonRegistro{
    height: 60px;
    width: 170px;
    background-color: $color_secundario;
    border-radius: 30px;
    color: $color_texto;
    border: none;
    font-family: "lustria";
    margin-top: 20px;
}

.containerRegistro > a{
    color: $color_texto;
    font-family: "lustria";
}
.containerRegistro > p{
    color: $color_texto;
    font-family: "lustria";
}
.containerRegistro > p > a{
    color: $color_texto;
    font-family: "lustria";
}

.imgLogin{
    width: 50%;
    background-position: center;
    background-size: cover;
    height: 180px;
    margin: 20px 0;
    background-image: url("../assets/img/svg/discoOjitoss.webp");
}

.decoracionRegistro{
    display: none;
}

@media (min-width: 1000px){

    .bodyRegistro{
        display: flex;
        justify-content: space-between;
    }

    .containerRegistro{
        width: 50%;
        height: 100%;
        padding: 5%;
        
    }

    input{
        width: 330px;
        margin: 10px 0;
    }

    .imgLogin{
        width: 35%;
        height: 200px;
    }


    .decoracionRegistro{
        display: flex;
        width: 50%;
        flex-direction: column;
        height: 100%;
        background-size: cover;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/img/smartphone/RectanguloRegistro.webp");
    }

    .decoracionRegistro > h2 {
        font-size: 35px;
        color: #3152FB;
    }
    .decoracionRegistro > h3 {
        font-size: 25px;
        color: #3152FB;
    }
    .imgDecoracionRegistro{
        height: 80px;
    }

    .inputsRegistro{
        width: 68%;
    }
}